<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481062718504-uigk7gk2jgdphi8gb4sm05tqnod9qeaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481062718504-uigk7gk2jgdphi8gb4sm05tqnod9qeaq</string>
	<key>API_KEY</key>
	<string>AIzaSyDZSjXDMTy6Oguht96T7JE79T0U4gdxdoU</string>
	<key>GCM_SENDER_ID</key>
	<string>481062718504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swerv.cs.swrv</string>
	<key>PROJECT_ID</key>
	<string>swrv-c4602</string>
	<key>STORAGE_BUCKET</key>
	<string>swrv-c4602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481062718504:ios:0ff39796e883cf9366391d</string>
</dict>
</plist>